.footer {
	background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
	padding-bottom: 45px;
	padding-top: 40px;
	&-socials {
		display: flex;
		&__item:not(:last-child) {
			margin-right: 50px;
		}
	}
	&-socials__img {
		fill: #fff;
		transition: fill linear 250ms;
		&:hover,
		&:focus {
			fill: #ff1313;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		&:last-child {
			border-top: 0.873968px solid #ffffff;
			opacity: 0.5;
			margin-top: 30px;
			padding-top: 22px;
		}
	}
}
.policy {
	display: flex;

	&__link {
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
	}
	&__item:not(:last-child) {
		margin-right: 8px;
	}
}
.copy {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.5;
}
